body {
  font-family: "poppins";
  color: #222222;
}
h1 {
  margin-left: 20px;
}
p {
  padding-right: 400px;
  margin-left: 20px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}
hr {
  opacity: 50%;
}
ul {
  margin-right: 50px;
}
li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.met-banner {
  background-color: #e4012b;
  padding: 15px;
  margin: 0px;
}
.met-logo {
  color: white;
  padding: 15px;
  margin-left: 25px;
}
.breadcrumbs {
  color: #222222;
  padding-top: 20px;
  margin-left: 50px;
  padding-bottom: 30px;
}
.grid {
  display: grid;
}
.met-footer {
  margin-left: 50px;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
}
.met-title {
  font-weight: bold;
}

.grid-4-columns {
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  margin-left: 35px;
}
.section-title {
  margin: auto;
  margin-left: 40px;
}
